* {
    margin: 0;
    box-sizing: border-box;
  }

.header {
    display: inline-block;
    width: 1550px;
   height: 700px;
    background-image: url(photo.png);
 margin:auto;
    background-repeat: no-repeat;
   background-size: cover;

}
.main {
    display: flex;
    margin-top: 25px;
    margin-left: 25px;
   justify-content: center;
}
.img {
    margin-right: 1000px;
    margin-left: 25px;
} 
 .h1 {
     display: flex;
    font-size: 52px;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Open Sans";
  justify-content: center;
  margin-top: 205px;
 }
 .major {
     display: flex;
     justify-content: center;
     margin-top: 38px;
    
 }
 .search{
    width: 326px;
    height: 40px;
    background-color: #ffffff;
    border: none;
    padding-left: 19px;
 } 
 .btn {
    width: 122px;
    height: 42px;
    background-color: #fd4f32;
    border: none;
color: #ffffff;

 }
 .container {
     display: inline-block;
     width: 1550px;
     height: 525px;
     background-color:#eeeeee ;
     
 } 
 h1 {
     justify-content: left;
     color:black;
     margin-top: 60px;
     margin-left: 100px;
     font-size: 16px;
     letter-spacing: 0px;
     color: #323232;
     font-weight: 400;
     font-family: "Montserrat";
   
 }
 p {
     justify-content: left;
     font-size: 15px;
letter-spacing: 0px;
color: #8b8b8b;
font-weight: 400;
font-family: "Open Sans";
margin-left: 100px;
margin-top: 18px;
 }
  .test {
 background-color: white;
width: 243px;
height: 314px;
margin-top: 40px;
  }
  .test2 {
      display: inline-block;
      width: 243px;
      height: 199px;
      background-image: url("test1.png");
  }
  .dollar {
      color: white;
      margin-top: 172px;
      margin-left: 186px;
  
  }
  .text {
      
      text-align: left;
      margin-left: 28px;
      margin-bottom: 5px;
     
  }
.text2 {
    text-align: left;
    margin-bottom: 20px;
font-size: smaller;

    margin-left: 25px;
    
} 
.general {
    display: flex;
    width: 1000px;
    justify-content: left;
    margin-left: 100px;
    margin-right: 100px;
}
.test5 {
    display: inline-block;
    width: 243px;
    height: 199px;
    background-image: url("test2.png");
    
}
.test6 {
    display: inline-block;
    width: 243px;
    height: 199px;
    background-image: url("test3.png");
}
.test7 {
    display: inline-block;
    width: 243px;
    height: 199px;
    background-image: url("test4.png"); 
}
#test {
    margin-right: 25px;
}
#test2 {
    margin-right: 25px;
}
#test3 {
    margin-right: 25px;
}
.last {
    display: inline-block;
    width: 1200px;
    height: 600px;
}
.title {
    margin-top: 70px;
    margin-left: 100px;
    font-size: 52px;
    letter-spacing: 2px;
    font-weight: 300;
    font-family: "Open Sans";
}
.common {

 display: flex;
    width: 1250px;
 height: 128px;
justify-content: center;
margin-left: 10px;
margin-top: 60px;
}
.paragraph {


height: 145px;

}


.strong {
    font-size: 16px;
letter-spacing: 0px;
color: #323232;
font-weight: 400;
font-family: "Montserrat";

} 

.p {
    font-size: 15px;
letter-spacing: 0px;
line-height: 22px;
color: #8b8b8b;
font-weight: 400;
font-family: "Open Sans";
}

.last-h {
    display: flex;
    font-size: x-large;
  margin-top: 75px;
   margin-left: 400px;
letter-spacing: 0px;
color: #323232;
font-weight: 400;
font-family: "Montserrat";
justify-content: center;
}
.subject {
    display: flex;
    width: 498px;
    height: 48px;
    justify-content: center;
   margin-top: 24px;
    margin-left: 550px;
} 
.email {
    width: 328px;
    height: 48px;
 padding-left: 19px;

}
.subscribe {
    width: 150px;
    height: 48px;
    background-color: #fd4f32;
    border: none;
}  
span {
    color: white;
}